@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --darkPrimary: hsl(0, 0%, 28%);
  --darkAccent1: hsl(210, 19%, 12%);
  --darkAccent2: hsl(240, 4%, 9%);

  --darkAccent1Text: hsl(0, 0%, 85%);
  --darkAccent2Text: hsl(0, 0%, 100%);
}

/* contentNode */

#content {
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header header"
    "projectList taskList"
    "footer footer";
}

/* header */

header {
  grid-area: header;
  padding: .5em;
  background-color: var(--darkPrimary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: inset 0 -3px 3px 0 hsl(240, 4%, 9%);
}

#projectMenuButton{
  display: none;
  background: none;
  border: none;
  color: white;
}

/* projects section  */

#projectSection {
  grid-area: projectList;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". headerName addButton"
    ". projectList .";
  background-color: var(--darkAccent1);
  row-gap: 1em;
}

#projectsHeaderTitle {
  grid-area: headerName;
  justify-self: center;
  align-self: center;
  font-size: 3em;
  color: var(--darkAccent1Text);
}

#newProjectButton {
  grid-area: addButton;
  background: none;
  border: none;
  color: var(--darkAccent1Text);
}

#projectsContainer {
  grid-area: projectList;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

#projectsContainer p {
  font-size: 1.5em;
  color: var(--darkAccent1Text);
}

.active {
  text-decoration: underline;
}


/* tasks section */

#taskSection {
  grid-area: taskList;
  padding: 60px;
  background-color: var(--darkAccent2);
  border-left: 1px solid hsl(0, 0%, 85%);
}

#taskSection button {
  color: var(--darkAccent2Text);
}

#tasksHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#tasksHeaderTitle {
  font-size: 3em;
  color: var(--darkAccent2Text);
}

#tasksContainer>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

#openProjectModal {
  background: none;
  border: none;
  margin-right: 10px;
}

#tasksContainer>div>p {
  font-size: 2em;
  color: var(--darkAccent2Text);

}

#tasksContainer>div>input {
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
  color: var(--darkAccent2Text);

}

#tasksContainer>div>input:checked {
  background-color: hsl(220, 80%, 60%);
}

#tasksContainer>div>input:checked::before {
  content: "✓";
  font-size: 2em;
  color: white;
  position: relative;
  left: 4px;
  top: -2px;
}



#newTaskButton {
  background: none;
  border: none;
  font-style: italic;
}

/* footer */

footer {
  grid-area: footer;
  background-color: var(--darkPrimary);
  box-shadow: inset 0 3px 3px 0 hsl(240, 4%, 9%);

}


/* project modal */

#projectModal {
  width: 300px;
  height: 200px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#projectModal form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "name name name"
    "accept close delete";
  background-color: var(--darkPrimary);
}

#projectModalTitle {
  grid-area: title;
  justify-self: center;
  align-self: center;

}

#projectModalProjectName {
  grid-area: name;
  justify-self: center;
  align-self: center;
}

/* task modal */

#taskModal {
  width: 500px;
  height: 400px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkPrimary);
}

#taskModal form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas:
    "title title"
    "nameLabel name"
    "startDateLabel startDate"
    "endDateLabel endDate"
    "makeTask cancel";
  column-gap: 20px;
}

#taskModalTitle {
  grid-area: title;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 3em;
}

#taskModalTaskNameLabel {
  grid-area: nameLabel;
  justify-self: flex-end;
  align-self: center;
}

#taskModalTaskName {
  grid-area: name;
  justify-self: flex-start;
  align-self: center;
}

#taskModalStartDateLabel {
  grid-area: startDateLabel;
  justify-self: flex-end;
  align-self: center;
}

#taskModalStartDate {
  grid-area: startDate;
  justify-self: flex-start;
  align-self: center;
}

#taskModalEndDateLabel {
  grid-area: endDateLabel;
  justify-self: flex-end;
  align-self: center;
}

#taskModalEndDate {
  grid-area: endDate;
  justify-self: flex-start;
  align-self: center;

}

#taskModalSubmit {
  grid-area: makeTask;
  background: none;
  border: none;
  border: 1px solid white;
  color: white;
  width: 175px;
  justify-self: center;
  align-self: flex-end;
  font-size: 2em;
}

#taskModalCancel {
  grid-area: cancel;
  background: none;
  border: 1px solid white;
  color: white;
  width: 175px;
  justify-self: center;
  align-self: flex-end;
  font-size: 2em;
}

/* media queries */

@media screen and (max-width: 600px) {
  #projectMenuButton {
    display: block;
  }

  #content {
    grid-template-columns: 0px 1fr;
  }
}

