*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --todoBlue: hsl(220, 80%, 50%);
}
/* contentNode */

#content{
  height: 100vh;
  display:grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 30px 1fr 30px;
  grid-template-areas:
    "header header"
    "projectList taskList"
    "footer footer";
}

/* header */

header{
  grid-area: header;
  padding: .5em;
  background-color: hsl(220, 80%, 50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* projects section  */

#projectSection{
  grid-area: projectList;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas: 
  ". headerName addButton"
  ". projectList .";                      ;
  background-color: hsl(21, 32%, 82%);
}

#projectsHeaderTitle{
  grid-area: headerName;
  justify-self: center;
  align-self: center;
}

#newProjectButton{
  grid-area: addButton;
  background:none;
  border:none;
}

#projectsContainer{
  grid-area: projectList;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.active{
  text-decoration: underline;
}


/* tasks section */

#taskSection{
  grid-area: taskList;
  padding: 60px;
}

#tasksHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#openProjectModal{
  background: none;
  border:none;
  margin-right: 10px;
}

/* footer */

footer{
  grid-area: footer;
  background-color: hsl(220, 80%, 50%);
}


/* project modal */

#projectModal{
  width: 300px;
  height: 200px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#projectModal form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "title title title"
  "name name name"
  "accept close delete";
  background-color: var(--todoBlue);
}

#projectModalTitle{
  grid-area: title;
  justify-self: center;
  align-self: center;

}

#projectModalProjectName{
  grid-area: name;
  justify-self: center;
  align-self: center;
}

/* task modal */

#taskModal{
  width: 500px;
  height: 400px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--todoBlue);
}

#taskModal form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "title title"
  "name name"
  "startDate startDate"
  "endDate endDate"
  "makeTask cancel";
  
  align-items: center;
}

#taskModalTitle{
  grid-area: title;
  justify-self: center;
  align-self: center;
  color: white;
}
#taskModalTaskName{
  grid-area: name;
  justify-self: center;
  align-self: center;
}
#taskModalStartDate{
  grid-area: startDate;
  justify-self: center;
  align-self: center;

}
#taskModalEndDate{
  grid-area: endDate;
  justify-self: center;
  align-self: center;

}
#taskModalSubmit{
  grid-area: makeTask;
  background: none;
  border:none;
  border: 1px solid white;
  color: white;
  width: 100px;
  justify-self: center;
  align-self: center;
}
#taskModalCancel{
  grid-area: cancel;
  background: none;
  border:1px solid white;
  color: white;
  width: 100px;
  justify-self: center;
  align-self: center;

}


